.add-btn {
    outline: none;
    background: #cccccc8a;
    border: none;
    padding: 10px 20px;
    transition: .3s;
    letter-spacing: 2px;

    &:hover{
        background: #cccccc4f;
    }

    &:active{
        scale: .95;
    }
}