<div class="modal">
    <h1>Add Task</h1>
    <form>
        <div class="input-fields">
            <input type="text" name="title" id="" placeholder="Task Title">
            <input type="text" name="title" id="" placeholder="Task Description">
            <input type="text" name="title" id="" placeholder="Task Priority">
            <input type="date" name="title" id="" placeholder="Task Date">
        </div>
        <button type="submit" class="submit-btn">Add Task</button>
    </form>
</div>

<div class="backdrop" (click)="hideModal()"></div>