/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.rounded-md {
  border-radius: 10px;
}

button {
  cursor: pointer;
}
